# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../ConsumerAPI\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\coelh\Desktop\neuraljava-master\ConsumerAPI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
